

img {
    height: 150px;
    width: auto;
}

div {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


a {
    text-decoration: none;
    border: solid black 2px;
    color: black;
    padding: 12%;
    border-radius: 20%;
    font-size: larger;
    font-weight: bold;
}

